:root{
    --background-color: #ffffff;
    --icon-color: #8b7bef;
    --btn-color: #5d3bef;
    --background-card-color: #f9f6ff;
    --tittle-color: #222222;
    --text-color: #423f40;
    --background-icon-color: #f9f5f2;
}
*{
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}




body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
@media(min-width: 720px){
    body{
        font-family: 'Montserrat', sans-serif;
        width: 85%;
        margin: auto;
    }
}


header{
    width: 100%;
    display: flex;
    flex-direction: column;

}
@media(min-width: 720px){
    header{
        width: 100%;
        display: flex;
    }
}

.header-container{
    width: 100%;
}

@media(min-width: 720px){
    .header-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        gap: 15px;
    }
}

.mobile-menu{
    padding: 12px;
    display: flex;  
    justify-content: flex-end;
}

.Desktop-menu{
    display: none;
}

@media(min-width: 720px){
    .mobile-menu{
        display: none;
    }

    .Desktop-menu{
        display: flex;
        justify-content: flex-end;
        gap: 45px;
        padding: 20px;
        color: var(--text-color);
    }

    .Desktop-menu a{
        font-weight: 600;
        color: var(--text-color);
    }

    .Desktop-menu a:hover{
        color: var(--icon-color);
    }
}

a:link{
    text-decoration: none;
}

.header-background-img img{
    width: 100%;
}
.header-web-background-img{
    display: none;
}

@media(min-width: 720px){
    .header-background-img{
        display: none;
    }
    .header-web-background-img{
        width: 75%;
        display: flex;
        justify-content: center;
        background-image: url(/assets/Imágenes/Vector.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-top: 100px;
    }
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0;
}

@media(min-width: 720px){
    .header-content{
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 40px;
    }
}

h1{
    font-weight: 600;
    color: var(--tittle-color);
}

@media(min-width: 720px){
    h1{
        font-size: 70px;
        font-weight: 600;
        color: var(--tittle-color);
    }
}

.header-text{
    font-weight: 400;
}

@media(min-width: 720px){
    .header-text{
        font-weight: 400;
        font-size: 25px;
    }
}

.icon-mobile{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 40px;
}

@media(min-width: 720px){
    .icon-mobile{
        
        display: flex;
        gap: 40px;
        justify-content: flex-start;
    }
}

.btn{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 85%;
    background-color: var(--btn-color);
    color: var(--background-color);
    height: 45px;
    margin: auto;
    gap: 15px;
    padding-top: 10px;
    border: 0;
    cursor: pointer;
}

@media(min-width: 720px){
    .btn{
        display: flex;
        justify-content: flex-start;
        width: 70%;
        margin: 0;
        background-color: var(--btn-color);
        color: var(--background-color);
        height: 45px;
        padding-top: 10px;
        border: 0;
        cursor: pointer;
    }
}

.btn-icon {
    display: flex;
    margin: auto;
    gap: 26px;
    justify-content: center;
    justify-items: center;
}

.btn-icon img{
    padding-bottom: 10px;
}

.icon-img{
    background-color: var(--icon-color);
    border-radius: 50%;
}



p{
    color: var(--text-color);
    font-size: 16px;
}

.icon-img{
    text-align: center;
    padding: 10px;
}

span img{
    width: 23px;
}

.btn-text{
    padding-top: 3px;
    font-size: 16px;
    letter-spacing: 1px;
}

/*main incio */

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 90%;
    height: 30vh;
    margin: auto;
    gap: 20px;
    padding: 25px 0;
}

@media(min-width: 720px){
    .about-me{
        width: 55%;
    }
}

h2{
    color: var(--tittle-color);
    padding: 12px;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    text-align: center;
    width: 100%;
    gap: 16px;
    padding: 20px;
    overflow-x: scroll;
}

@media(min-width: 720px){
    .cards{
        display: flex;
        justify-content: center;
        justify-items: center;
        text-align: center;
        width: 100%;
        gap: 40px;
        padding: 20px;
        overflow-x: hidden;
    }
}

.cards-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: var(--background-card-color);
    gap: 15px;
    text-align: start;
    width: 170px;
    height: 210px;
    padding: 25px 10px
}

@media(min-width: 720px){
    .cards-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        background-color: var(--background-card-color);
        gap: 15px;
        text-align: start;
        width: 185px;
        height: 210px;
        padding: 25px 10px
    }
}

.cards-icon{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.title-card{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.img-icon{
    width: 15px;
}
.cards-text{
    font-size: 15px;
    padding-bottom: 10px;
}

/*experience*/

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 15px;
    padding: 30px 0;
}

.about-experience{
    display: flex;
    flex-direction: column;
}

@media(min-width: 720px){
    .about-experience{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 0;
    }
}


.experience-content{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

@media(min-width: 720px){
    .experience-content{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
}

.content-icon{
    display: flex;
    text-align: start;
    gap: 10px;
}

.years{
    padding-top: 25px;
}

.from-to{
    font-size: 13px;
}

/*Inicia Portafolio*/

.portafolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: auto;
    text-align: center;
    gap: 20px;
}

@media(min-width: 720px){
    .portafolio{
        display: flex;
        flex-direction: column;
    }
}

.portafolio-content{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 17.5rem;
    grid-template-columns: repeat( auto-fill,minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

/*Inicia Footer*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 40px 0;
}

.footer-content{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 45px;
}

@media(min-width: 720px){
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 90px;
    }
}

.footer-img{
    background-color: var(--background-icon-color);
    width: 80px;
    border-radius: 50%;
    padding: 15px;
}

@media(min-width: 720px){
    .footer-img{
        background-color: var(--background-icon-color);
        width: 80px;
        border-radius: 15%;
        padding: 15px;
    }
}

.love{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 60px 0 30px 0;
}

.material-symbols-outlined{
    color: var(--icon-color);
}

.love-content{
    color: var(--icon-color);
}

