:root {
  --background-color: #ffffff;
  --icon-color: #8b7bef;
  --btn-color: #5d3bef;
  --background-card-color: #f9f6ff;
  --tittle-color: #222222;
  --text-color: #423f40;
  --background-icon-color: #f9f5f2;
}
* {
  padding: 0;
  margin: 0;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}


body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
}
@media (min-width: 720px) {
  body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: auto;
  }
}

.box-shadow{
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
}

.box-shadow2{
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.08),
      15px 20px 20px rgba(0, 0, 0, 0.07);
}

a {
  text-decoration: none;
  color: var(--background-color);
}

li {
  list-style-type: none;
}

h1 {
  font-weight: 600;
  color: var(--tittle-color);
}
h2 {
  color: var(--tittle-color);
  padding: 12px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* box-shadow: 0px 10px 100px rgba(0, 0, 0, .10); */
  z-index: 100;
}

@media (min-width: 720px) {
  header {
    width: 100%;
    display: flex;
  }
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  transition: all ease-in-out 1s;
}

.grid--container {
  width: 100vw;
  display: flex;
  padding: 0 20px 0 0;
  background-color: var(--background-icon-color);
}

@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 1px 9px 2px #00000024;
    padding: 4.5rem 1rem 2rem;
    transition: .8s ease-in-out;
    animation: changeBgMenu 5s infinite alternate linear;
  }

  @keyframes changeBgMenu {
    0% {
      background: var(--background-card-color);
    }

    25% {
      background: rgb(235,
          222,
          240);
    }

    50% {
      background: rgb(235,
          222,
          240);
    }

    75% {
      background: var(--icon-color);
    }

    100% {
      background: var(--icon-color);
    }
  }
}
.btn__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #f5f5f5;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__open,
.btn__close,
.navbar__logo i {
  font-size: 2.2rem;
  color: var(--icon-color);
  transition: background .3s
}

.btn__open:hover {
  background-color: #dfdfdf;
}

.btn__close:hover {
  background-color: #dfdfdf;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item {
  margin-bottom: 16px;
}

.navbar__link {
  color: #111;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color .3s
}

.navbar__link:hover {
  color: var(--icon-color);
}

.navbar__menu:target {
  top: 0;
}

@media screen and (min-width: 768px) {

  .btn__open,
  .btn__close {
    display: none;
  }

  .navbar__list {
    flex-direction: row;
    gap: 2rem;
  }

  .navbar__item {
    margin: 0;
  }
}

.home{
  padding-top: 3.3rem;

}

.header-container {
  position: relative;
  width: 100%;
  /* z-index: -1; */
  padding-top: 0.5rem;
}
@media (min-width: 720px) {
  .header-container {
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.header-background-img {
  width: 95%;
  height: 56vh;
  text-align: center;
  background-image: url(/assets/Imágenes/20230413_152214.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  padding-top: 3rem;
  animation: myAnim2 3s ease 0s 1 normal forwards;
}
@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (min-width: 720px) {
  .header-background-img {
    max-width: 50%;
    height: 64vh;
    background-image: url(/assets/Imágenes/20220226_114654.jpg);
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 15px;
  padding: 30px 0;
  animation: myAnim 3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 720px) {
  .header-content {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
  }
}

.main__title{
  animation: text-shadow-pop-bottom 4s infinite alternate both;
}
@keyframes text-shadow-pop-bottom {
  0% {
    text-shadow: 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef, 0 0 #8b7bef;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    text-shadow: 0 1px #8b7bef, 0 2px #8b7bef, 0 3px #8b7bef, 0 4px #8b7bef, 0 5px #8b7bef, 0 6px #8b7bef, 0 7px #8b7bef, 0 8px #8b7bef;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}


#insta{
  -webkit-animation: rotate-center 15s ease-in-out infinite both, Color 7s linear infinite;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#linkedin{
  -webkit-animation: rotate-center2 15s ease-in-out infinite reverse both, Color 7s linear infinite;
}
@-webkit-keyframes rotate-center2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 720px) {
  h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--tittle-color);
  }
}

.header-text {
  font-weight: 400;
}

@media (min-width: 720px) {
  .header-text {
    font-weight: 400;
    font-size: 25px;
  }
}

.icon-mobile {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 40px;
}

@media (min-width: 720px) {
  .icon-mobile {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
  }
}

.btn {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 85%;
  background-color: var(--icon-color);
  height: 45px;
  margin: auto;
  gap: 15px;
  padding-top: 10px;
  position: relative;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.08),
      15px 20px 20px rgba(0, 0, 0, 0.07);
}

@media (min-width: 720px) {
  .btn {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 0;
    background-color: var(--icon-color);
    height: 45px;
    padding-top: 10px;
    border: 0;
    cursor: pointer;
  }
}

.contact-color{
 color: var(--tittle-color);
}

.btn-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

#mail{
  position: absolute;
  bottom: 6px;
  left: 85px;
}

@media (min-width: 720px) {
  #mail {
    bottom: 6px;
    left: 65px;
  }
}

@media (min-width: 720px) {
  .btn-icon {
    padding-left: 10px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: auto;
  }
}

.icon-img {
  background-color: var(--icon-color);
  border-radius: 50%;
}

p {
  color: var(--text-color);
  font-size: 16px;
}

.icon-img {
  text-align: center;
  padding: 10px;
}


span img {
  width: 23px;
}

.btn-text {
  padding-top: 3px;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--background-color);
}

/*main incio */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 90%;
  height: 30vh;
  margin: auto;
  gap: 20px;
  padding: 25px 0;
}
@media (min-width: 720px) {
  .about-me {
    width: 55%;
  }
}

/*======Mis Habilidades=========*/

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  text-align: center;
  width: 100%;
  gap: 16px;
  padding: 20px;
  overflow-x: scroll;
}

@media (min-width: 720px) {
  .cards {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    gap: 40px;
    padding: 20px;
    overflow-x: hidden;
  }
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* background-color: var(--background-card-color); */
  gap: 15px;
  text-align: start;
  width: 170px;
  height: 210px;
  padding: 25px 10px;
  animation: changeBg 7s infinite alternate linear;
}

@keyframes changeBg {
  0% {
    background: var(--background-card-color);
  }

  25% {
    background: rgb(235,
          222,
          240);
  }

  50% {
    background: rgb(235,
          222,
          240);
  }

  75% {
    background: var(--icon-color);
  }

  100% {
    background: var(--icon-color);
  }
}

@media (min-width: 720px) {
  .cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: var(--background-card-color);
    gap: 15px;
    text-align: start;
    width: 185px;
    height: 210px;
    padding: 25px 10px;
  }
}

.cards-icon {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.title-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.bx-loader{
  -webkit-animation: rotate-center 15s ease-in-out infinite both
}

.bx-bulb{
  animation: Color 7s linear infinite;
}

.bx-coffee{
  animation: jello-vertical 6s infinite both;
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bxl-javascript{
  animation: flip-out-ver-left 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate both;
}
@keyframes flip-out-ver-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    opacity: 0;
  }
}

.cards-text {
  font-size: 15px;
  padding-bottom: 10px;
}

/*======Experience=======*/

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 15px;
  padding: 30px 0;
}

.about-experience {
  display: flex;
  flex-direction: column;
}
@media (min-width: 720px) {
  .about-experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
  }
}

.experience-content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}
@media (min-width: 720px) {
  .experience-content {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.content-icon {
  display: flex;
  text-align: start;
  gap: 10px;
}

.years {
  padding-top: 25px;
}

.from-to {
  font-size: 13px;
}

/*Inicia Portafolio*/

.portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  text-align: center;
  gap: 20px;
}

@media (min-width: 720px) {
  .portafolio {
    display: flex;
    flex-direction: column;
  }
}

.portafolio-content {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 17.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  width: 85%;
  margin: auto;
}
@media (min-width: 720px) {
  .portafolio-content {
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 17.5rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 10px;
    width: 85%;
    margin: auto;
  }
}
/*Inicia Footer*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 40px 0;
  width: 85%;
  margin: auto;
}
@media (min-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 40px 0;
    width: 85%;
    margin: auto;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 45px;
}

@media (min-width: 720px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
  }
}

.footer-img {
  background-color: var(--background-icon-color);
  width: 80px;
  border-radius: 50%;
  padding: 15px;
  color: var(--icon-color);
}

@media (min-width: 720px) {
  .footer-img {
    background-color: var(--background-icon-color);
    width: 80px;
    border-radius: 15%;
    padding: 15px;
  }
}

.bxl-whatsapp {
  margin-bottom: 0.6rem;
}


.bx-envelope{
  margin-bottom: 0.6rem;
}


.love {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 60px 0 30px 0;
}

.bxs-heart {
  -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
  color: #8b7bef;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.love-content {
  animation: Color 7s linear infinite;
}

@keyframes Color {
  0% {
    color: #efb810;
  }

  15% {
    color: #daaa14;
  }

  25% {
    color: #c69b18;
  }

  35% {
    color: #b18d1d;
  }

  45% {
    color: #9d7e21;
  }

  55% {
    color: #b18d1d;
  }
  65% {
    color: #c69b18;
  }
  75% {
    color: #daaa14;
  }
  100% {
    color: #efb810;
  }


}
