:root {
  --background-color: #ffffff;
  --icon-color: #8b7bef;
  --btn-color: #5d3bef;
  --background-card-color: #f9f6ff;
  --tittle-color: #222222;
  --text-color: #423f40;
  --background-icon-color: #f9f5f2;
}
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}


body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
@media (min-width: 720px) {
  body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: auto;
  }
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, .10);
  z-index: 100;
}

@media (min-width: 720px) {
  header {
    width: 100%;
    display: flex;
  }
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px hsl(0deg 4% 15% / 10%);
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.grid--container {
  width: 100%;
  display: flex;
  padding: 0 10px;
  background-color: var(--background-icon-color);
}

@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 12px 12px;
    /* background-color: #c45c5c; */
    box-shadow: 0px 1px 9px 2px #00000024;
    padding: 4.5rem 1rem 2rem;
    transition: .6s;
    animation: changeBgMenu 5s infinite alternate linear;
  }

  @keyframes changeBgMenu {
    0% {
      background: var(--background-card-color);
    }

    25% {
      background: rgb(235,
          222,
          240);
    }

    50% {
      background: rgb(235,
          222,
          240);
    }

    75% {
      background: var(--icon-color);
    }

    100% {
      background: var(--icon-color);
    }
  }
}
.btn__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #f5f5f5;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__open,
.btn__close,
.navbar__logo i {
  font-size: 2.2rem;
  color: var(--icon-color);
  transition: background .3s
}

.btn__open:hover {
  background-color: #dfdfdf;
}

.btn__close:hover {
  background-color: #dfdfdf;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item {
  margin-bottom: 16px;
}

.navbar__link {
  color: #111;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color .3s
}

.navbar__link:hover {
  color: var(--icon-color);
}

.navbar__menu:target {
  top: 0;
}


@media screen and (min-width: 768px) {

  .btn__open,
  .btn__close {
    display: none;
  }

  .navbar__list {
    flex-direction: row;
    gap: 2rem;
  }

  .navbar__item {
    margin: 0;
  }
}

/* @media (min-width: 1024px) {
  .grid--container {
    margin: 0 auto;
  }
} */

.home{
  padding-top: 3.2rem;
}

.header-container {
  position: relative;
  width: 100%;
  z-index: -1;
}

@media (min-width: 720px) {
  .header-container {
    position: relative;
    width: 85%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 15px;
  }
}

.mobile-menu {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  color: var(--icon-color);
}

.Desktop-menu {
  display: none;
}

@media (min-width: 720px) {
  .mobile-menu {
    display: none;
  }

  .Desktop-menu {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    padding: 20px;
    color: var(--text-color);
  }

  .Desktop-menu a {
    font-weight: 600;
    color: var(--text-color);
  }

  .Desktop-menu a:hover {
    color: var(--icon-color);
  }
}

a{
  text-decoration: none; 
}

li{
  list-style-type: none;
}

.header-background-img {
  width: 100%;
  text-align: center;
  animation: myAnim2 2s ease 0s 1 normal forwards;
}

@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
.header-web-background-img {
  display: none;
}

@media (min-width: 720px) {
  .header-background-img {
    display: none;
  }
  .header-web-background-img {
    width: 75%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/Imágenes/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 100px;
    animation: myAnim2 2s ease 0s 1 normal forwards;
  }

  @keyframes myAnim2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateX(-48px);
    }

    24% {
      opacity: 1;
    }

    40% {
      animation-timing-function: ease-in;
      transform: translateX(-26px);
    }

    65% {
      animation-timing-function: ease-in;
      transform: translateX(-13px);
    }

    82% {
      animation-timing-function: ease-in;
      transform: translateX(-6.5px);
    }

    93% {
      animation-timing-function: ease-in;
      transform: translateX(-4px);
    }

    25%,
    55%,
    75%,
    87%,
    98% {
      animation-timing-function: ease-out;
      transform: translateX(0px);
    }

    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 20px;
  padding: 30px 0;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(26px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 720px) {
  .header-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 40px;
  }
}

h1 {
  font-weight: 600;
  color: var(--tittle-color);
}

@media (min-width: 720px) {
  h1 {
    font-size: 70px;
    font-weight: 600;
    color: var(--tittle-color);
  }
}

.header-text {
  font-weight: 400;
}

@media (min-width: 720px) {
  .header-text {
    font-weight: 400;
    font-size: 25px;
  }
}

.icon-mobile {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 40px;
}

@media (min-width: 720px) {
  .icon-mobile {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
  }
}

.btn {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 85%;
  background-color: var(--btn-color);
  color: var(--background-color);
  height: 45px;
  margin: auto;
  gap: 15px;
  padding-top: 10px;
  border: 0;
  cursor: pointer;
}

@media (min-width: 720px) {
  .btn {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 0;
    background-color: var(--btn-color);
    color: var(--background-color);
    height: 45px;
    padding-top: 10px;
    border: 0;
    cursor: pointer;
  }
}

.btn-icon {
  display: flex;
  margin: auto;
  gap: 26px;
  justify-content: center;
  justify-items: center;
}

.btn-icon img {
  padding-bottom: 10px;
}

.icon-img {
  background-color: var(--icon-color);
  border-radius: 50%;
}

p {
  color: var(--text-color);
  font-size: 16px;
}

.icon-img {
  text-align: center;
  padding: 10px;
}

span img {
  width: 23px;
}

.btn-text {
  padding-top: 3px;
  font-size: 16px;
  letter-spacing: 1px;
}

/*main incio */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 90%;
  height: 30vh;
  margin: auto;
  gap: 20px;
  padding: 25px 0;
}

@media (min-width: 720px) {
  .about-me {
    width: 55%;
  }
}

h2 {
  color: var(--tittle-color);
  padding: 12px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  text-align: center;
  width: 100%;
  gap: 16px;
  padding: 20px;
  overflow-x: scroll;
}

@media (min-width: 720px) {
  .cards {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    gap: 40px;
    padding: 20px;
    overflow-x: hidden;
  }
}

.cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* background-color: var(--background-card-color); */
  gap: 15px;
  text-align: start;
  width: 170px;
  height: 210px;
  padding: 25px 10px;
  animation: changeBg 7s infinite alternate linear;
}

@keyframes changeBg {
  0% {
    background: var(--background-card-color);
  }

  25% {
    background: rgb(235,
          222,
          240);
  }

  50% {
    background: rgb(235,
          222,
          240);
  }

  75% {
    background: var(--icon-color);
  }

  100% {
    background: var(--icon-color);
  }
}

@media (min-width: 720px) {
  .cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: var(--background-card-color);
    gap: 15px;
    text-align: start;
    width: 185px;
    height: 210px;
    padding: 25px 10px;
  }
}

.cards-icon {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.title-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.img-icon {
  width: 15px;
}
.cards-text {
  font-size: 15px;
  padding-bottom: 10px;
}

/*experience*/

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 15px;
  padding: 30px 0;
}

.about-experience {
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) {
  .about-experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
  }
}

.experience-content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}

@media (min-width: 720px) {
  .experience-content {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

.content-icon {
  display: flex;
  text-align: start;
  gap: 10px;
}

.years {
  padding-top: 25px;
}

.from-to {
  font-size: 13px;
}

/*Inicia Portafolio*/

.portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  text-align: center;
  gap: 20px;
}

@media (min-width: 720px) {
  .portafolio {
    display: flex;
    flex-direction: column;
  }
}

.portafolio-content {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 17.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  width: 85%;
  margin: auto;
}

/*Inicia Footer*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  gap: 45px;
}

@media (min-width: 720px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
  }
}

.footer-img {
  background-color: var(--background-icon-color);
  width: 80px;
  border-radius: 50%;
  padding: 15px;
}

@media (min-width: 720px) {
  .footer-img {
    background-color: var(--background-icon-color);
    width: 80px;
    border-radius: 15%;
    padding: 15px;
  }
}

.love {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 60px 0 30px 0;
}

.material-symbols-outlined {
  color: var(--icon-color);
}

.love-content {
  color: var(--icon-color);
}
